*{
    scroll-behavior: smooth;

}

.bg-gray{
    background-color: #f9f6f6c6;
}
.layer{
   top: 100%;
   transition: all 0.5s;
}
.cards:hover .layer{
top: 0%;

}
.nav{
    width: 70px;
    z-index: 99999;
}

.nav1{
    left: -270px;
    width: 270px;
    z-index: 99999;
    
}
.w-10{
    width: 10%;
}

i{
    cursor: pointer;

}
.pointer{
    cursor: pointer;

}
.p1,.p2,.p3,.p4,.p5{
    margin-top: 1000px;
}
.detiels{
    z-index: 999;
}
.bg-milky{
    background-color: #cff4fc;
}
.text-milky{
    color: #055160;
}
.exit{
    position: absolute;
    top: 40px;
    right: 40px;
}
.fs-10{
    font-size: 150px;
}
.validation-card{
    display: none;
}


/* ----------------------- */

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid rgb(101, 99, 99); /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    
  }
  .load{
    z-index: 9999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }